<!DOCTYPE html>
<html>
	<head>
	  <link type="text/css" rel="stylesheet" href="../static/stylesheets/main.css" />
		</head>
		<body>
			<div id = "wrapper">
				<div class = "top-banner">
					<div class = "logo"> <h3>Logo will go here</h3> </div>
					<nav class = "banner-nav">
						<ul>
							<li><a href="">Home</a></li>
							<li><a href="">About</a></li>
							<li><a href="">Contact us</a></li>
						</ul>
					</nav>
					<div class = "logForm banner-right">
						<form  method ="post" class = "logForm">
							<input name = "logout" type = "submit" value = "logout" class = "logForm"> 
						</form>	
					</div>
				</div>
				<div class = "main">
					<div></div>
					<div class = "main-content">
						<div class = "tasks">
							<ul class = "unchecked">
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
								<li>
									<span> <h3>task name</h3></span>
									<br>
									<span>task details (date, priority, ....)</span>
								</li>
							</ul>
						</div>
					</div>
			</div>
		</div>
		</body>		
</html>
